* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #0e0441;
  }

  #main-heading{
    font-size: 3em;
  }
  
  .main-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  h1,h2{
    color: white;
    text-align: center;
    margin-top: 3px;
  }

  .app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    flex-direction: column;
  }

  .input{
    margin-top: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17em;
    height: 1.5em;
    background-color: white;
    display: flex;
    border-radius: 6px;
    padding: 5px;
  }

  .input input {
    width: 100%;
    height: 1.6em;
    border-color: transparent;
    outline-color: transparent;
  }

  .task{
    width: 100%;
    height: 60vh;
    font-size: small;
    border: 1px solid chartreuse;
    display: flex;
    justify-content: space-between;
  }

  .sub-task {
    width: 30%;
    height: 50vh;
    border: 1px solid cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17em;
    height: 1.5em;
    margin-top: 0.5em;
    background-color: white;
    display: flex;
    border-radius: 6px;
    padding: 5px;
  }

  .todo-list{
    margin-right: .5em;
    background-color: white;
  }

  .left{
    display: flex;
    flex-direction: row;
  }


